@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

div.main-portal.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1;
	height: var(--header-height);
	background: var(--header-background);
}

div.main-portal.header div.wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
}

div.main-portal.header div.main-portal.home-link{
	height: 100%;
	padding: 0 1%;
	transition: background var(--universal-transition-timing);
}

div.main-portal.header a {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

div.main-portal.header img.main-portal.logo{
	height: 50%;
	padding-right: 1vw;
}

div.main-portal.header div.main-portal.home-link div.main-portal.header-text{
	display: flex;
	flex-direction: column;
	color: white;
}

div.main-portal.header div.main-portal.home-link div.main-portal.header-text span.top-text{
	font-family: 'Montserrat';
}

div.main-portal.header div.main-portal.home-link div.main-portal.header-text span.bottom-text{
	font-size: 0.7em;
}

div.main-portal.header div.main-portal.nav-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 3vw;
}

div.main-portal.header div.navbar-button-container{
	display: none;
	transition: background var(--universal-transition-timing);
}

div.main-portal.header div.main-portal.nav-bar div.main-portal.navlink{
	padding: 0 1vw;
}

div.main-portal.header div.main-portal.nav-bar div.main-portal.navlink a{
	color: white;
}

div.main-portal.header div.main-portal.home-link:hover{
	background: rgba(255,255,255,0.125);
}

div.main-portal.header div.main-portal.home-link:active{
	background: rgba(0,0,0,0.1);
}


@media (max-width: 768px) {
	
	div.main-portal.header div.main-portal.home-link{
		padding: 0 3vw;
	}
	
	div.main-portal.header div.main-portal.nav-bar{
		display: none;
		position: absolute;
		right: 0;
		top: var(--header-height);
		z-index: 2;
		flex-direction: column;
		margin-right: 0;
	}
	
	div.main-portal.header div.navbar-button-container{
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		right: 0;
		top: 0;
		width: var(--header-height);
		height: var(--header-height);
	}
	div.main-portal.header img.navbar-button{
		display: block;
		height: 50%;
		width: 50%;
	}
	
	div.main-portal.header div.navbar-button-container:hover{
		background: rgba(255,255,255,0.125);
	}
	
	div.main-portal.header div.navbar-button-container:active{
		background: rgba(0,0,0,0.2);
	}

	
	div.main-portal.header div.main-portal.nav-bar div.main-portal.navlink{
		background: var(--navlink-background);
		color: var(--navlink-color);
		width: 50vw;
		padding: 0;
	}

	div.main-portal.header div.main-portal.nav-bar div.main-portal.navlink span{
		width: 100%;
		padding: 3vw;
		text-align: center;
	}
	
	div.main-portal.header div.main-portal.nav-bar div.main-portal.navlink:hover span{
		background: rgba(255,255,255,0.125)
	}
	
	div.main-portal.header div.main-portal.nav-bar div.main-portal.navlink:active span{
		background: rgba(0,0,0,0.2)
	}
}

@media (max-width: 500px) {
	div.main-portal.header div.main-portal.home-link div.main-portal.header-text{
		display: none;
	}
}