@import "../../styles/var.scss";
@import "../../styles/global.scss";

div#policy-layout{
	background: white;
	padding: max(5%, 45px);
	padding-top: 40px;
	margin: auto;
	
	h1#title{
		font-size: 3.5em;
		text-align: center;
		padding-bottom: max(3%, 25px);
	}
	h1{
		padding-top: 20px;
		padding-bottom: 10px;
		font-size: 2.5em;
	}
	h2{
		padding-top: 14px;
		font-size: 2em;
	}
	h3{
		padding-top: 14px;
		font-size: 1.75em;
	}

	p, li{
		margin: 18px 0;
		font-size: 1em;
	}
	
	a{
		color: var(--acm-blue);
		text-decoration: underline;
	}
	
	strong{
		color: var(--acm-dark-blue);
	}
	
	li{
		margin-left: min(10%, 45px);
	}
	
}

@media (max-width: 768px){
	div#mechanics-layout{
		font-size: 1em;
		
		h1#page-title{
			margin: 0;
			font-size: 2.5em;
			text-align: left;
			padding: 3%;
			padding-left: 0;
			margin-bottom: 4%;
		}
		
		h1{
			margin: 4% 0;
		}
		
		p{
			margin: 6% 0;
		}
		
		li{
			margin: 2% 0;
			margin-left: 5%;
		}
		
	}

}