@import "../../styles/var.scss";
@import "../../styles/global.scss";

.events-showcase {
	
	display: block;
	margin: auto;

	padding: 5%;

	width: 80%;
	min-width: 270px;

	.featured {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.unfeatured {
		display: flex;
		flex-wrap: wrap-reverse;
		flex-direction: row;
	}

}