#sig-groups {
    #info {
        #header {
            // Layout
            padding: 20px;
            padding-top: 50px;
            text-align: center;
            
            // Ensure readability on all screen size
            font-size: calc(1.2em + 1.5vw);
        }
        #header-info {
            // Layout
            padding: 20px;
            padding-top: 0px;
            text-align: center;
            
            // Ensure readability on all screen size
            font-size: calc(1em + 0.2vw);
        }
    }
    
    #cards {
        padding: 30px;

        // Flexibility for mobile
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}