@import "../../styles/global.scss";

#sig-cards {
	padding: 3%;
	padding-top: 6%;

	display: grid;

	grid-gap: 1%;
	grid-auto-rows: 1fr;
}

@media (max-width: 1000px) {
	#sig-cards {
		display: flex;

		flex-direction: column;
		> * {
			margin: 1% 0;
		}
	}
}
