@import "../../styles/var.scss";
@import "../../styles/global.scss";

#sig-groups {
    #info {
        color: white;
        background-color: var(--acm-blue);
        padding-bottom: 40px;

        padding-top: 8%;
        padding-bottom: 8%;

        #header {
            // Layout
            padding: 20px;
            text-align: center;           
        }

        #header-info {
            // Layout
            padding: 10px;
            padding-top: 0px;
            text-align: center;

            display: block;
            margin: 0 auto;

            width: 42vw;
            min-width: 270px;     
        }
    }
    
    #cards {
        padding: 50px;

        // Flexibility for mobile
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}