.events-card {

	color: white;

    // Sizing
	min-height: fit-content;
	width: fit-content;
    
	// Spacing
	overflow: hidden;
	margin: 3% 2%;
	position: relative;

    // Background setup
	background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;

	transition: ease 0.3s;

	//Alignment
	text-align: left;
	align-content: flex-end;
	justify-content: flex-end;	

	img {
		object-fit: scale-down;
		max-height: max(20vw, 320px);
		width: 100%;


		background-color: rgba(0, 0, 0, 1);
		mix-blend-mode: multiply;

		transition: 0.3s ease scale;

		margin: auto;
	}


    #info {
        // Spacing
        padding: 5%;

        display: block;

		position: absolute;
		bottom: 5%;

        $info-transition: 0.7s;
        transition: $info-transition ease;

        #header {
			color: white;
            font-weight: bolder;
            font-size: calc(1em + 0.4vw);
        }

        #subheader {
			display: inline-block;
            font-size: 1em;
            font-weight: bold;

            width: fit-content;
            margin-top: 10px;
        }

        #description {
            // Spacing from local header
            margin-top: 20px;
        }

    }

}

.events-card:hover {
	background-size: 107%;
	background-color: rgba(0, 0, 0, 0.6);

	img {
		scale: 1.1;
	}
}