@import "../../../styles/animation.scss";

.events-card {	
	z-index: 2;

	color: white;

    // Sizing
	flex: 1 1 calc(88% / 3);
	min-height: 320px;
	height: 20vw;
	max-height: calc(1920 * .2);
	
	// Spacing
	overflow: hidden;
	margin: 3% 2%;
	position: relative;

    // Background setup
	background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;

	@include transition-all(0.3s);

	//Alignment
	text-align: left;
	align-content: flex-end;
	justify-content: flex-end;	

	img {
		object-fit: scale-down;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 1);
		mix-blend-mode: multiply;

		@include transition-all(0.3s);

		margin: auto;
	}


    #info {
        // Spacing
        padding: 5%;

        display: block;

		position: absolute;
		bottom: 5%;

        $info-transition: 0.7s;
		@include transition-all($info-transition);

        #header {
			color: white;
            font-weight: bolder;
            font-size: calc(1em + 0.4vw);
        }

        #subheader {
			display: inline-block;
            font-size: 1em;
            font-weight: bold;

            width: fit-content;
            margin-top: 10px;
        }

        #description {
            // Spacing from local header
            margin-top: 20px;
        }

    }

}


//every 4th couple of cards will take up half the container each;
//the rest take up a third each
/*
[][][]
[ ][ ]
[][][]
[ ][ ]

^ should give this look
*/
.events-card:nth-child(4n+0), .events-card:nth-child(4n+5){
	flex-basis: 46%;
}

.events-card:hover {
	background-size: 107%;
	background-color: rgba(0, 0, 0, 0.6);

	img {
		@include transform-safe(scale(1.1));
	}
}