@import "./global.scss";
@import "./var.scss";

#page-not-found{
    width: 100vw;
    height: 100vh;

    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    > *{
        margin: 1% 0;
        text-align: center;
    }

    #page-not-found-img{
        background: $acm-blue;
        width: 75vw;
        height: 75vw;
    }

    #page-not-found-home-link{
        color: $acm-blue;
        transition: 0.2s;
    }

    #page-not-found-home-link:hover{
        color: $acm-light-blue;
    }

    #page-not-found-home-link:active{
        color: white;
    }
}