@import "./var.scss";

/* For browser safe transitions targeting all changes */
@mixin transition-all($speed: var(--universal-transition-timing)){
    -webkit-transition: $speed ease;
    -moz-transition: $speed ease;
    -ms-transition: $speed ease;
    -o-transition: $speed ease;
    transition: $speed ease;
}

/* For browser safe transititions targeting one property */
@mixin transition-single($parameter,$speed: var(--universal-transition-timing)){
	-moz-transition: $parameter $speed ease;
	-webkit-transition: $parameter $speed ease;
	-o-transition: $parameter $speed ease;
    -ms-transition: $parameter $speed ease;
    transition: $parameter $speed ease;
}

/* For browser safe animations*/
@mixin animation($property, $speed) {
    -moz-animation: $property ease $speed;
    -o-animation: $property ease $speed;
    -ms-animation: $property ease $speed;
    -webkit-animation: $property ease $speed;
	animation: $property ease $speed;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    animation-delay: $delay;
}

/* For browser safe transforms 
(supporting IE8 below requires zoom which also affects Chrome) */
@mixin transform-safe($transform) {
	-moz-transform: $transform;
    -o-transform: $transform;
	-ms-transform: $transform;
	-webkit-transform: $transform;
    transform: $transform;
}

@mixin filter($effect) {
	-webkit-filter: $effect;
	filter: $effect;
}