@import "../../../styles/var.scss";
@import "../../../styles/global.scss";

// Default styling
.committee-card {
    $text-color: black;
    $subtext-color: var(--acm-blue);

	object-fit: contain;

    // Sizing
    $image-dimension: calc(2vw + 180px);

    // Layout
    padding: 30px;

    width: 280px;
    height: 320px;


    .portrait-wrapper {
        overflow: hidden;   
        border-radius: 100%;
        
        padding: 30px;

        display: block;
        margin: auto;

        width: $image-dimension;
        height: $image-dimension;
    }

    .portrait{
        display: block;
        margin: auto;
        
        // Follow wrapper
        width: 100%;
        height: 100%;   
        border-radius: 100%;
    }

    .name {
        display: block;
        margin: auto;

        text-align: center;

        color: $text-color;

    }
    .position {
        color: $subtext-color;

        scale: 0.75;
        text-align: center;
        
        margin-bottom: -5px;
    }
}

.committee-card:nth-child(1) {
    width: 100vw;
}
