@import "../../../styles/var.css";
@import "../../../styles/var.scss";
@import "../../../styles/global.css";

.executive-card {
    // Card dimensions
    $card-width: 300px;
    $card-height: 550px;
    height: $card-height;
    width: $card-width;
    border-radius: 40px;

    background-color: $acm-blue;
    color: white;

    // Allow three cards in one column at maximum
    flex: 0 $card-width;
    margin: 30px;
    

    .portrait{
        // Image centering
        display: block;
        margin: auto auto;

        // Layout
        $image-dimension: $card-width;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        height: $image-dimension;
        width: $image-dimension;
    }

    .name {
        background-color: $acm-light-blue;

        // Layout
        border-radius: 30px;
        text-align: center;
        font-size: 1.2em;
        padding: 10px;
        width: 80%;

        // Center
        display: block;
        margin: 10px auto;

    }
    .position {
        font-size: 1.1em;
        text-align: center;
        padding-bottom: 15px;

    }
    .description {
        text-align: center;
        font-size: 0.9em;
        padding: 0 5%;
    }
}