div#achievements-section{
	background: var(--acm-blue);
	padding: 3vh 0;
	h1 {
		color: white;
		text-align: center;
		padding-bottom: 3vh;
	}
	div#achievements-content{
		display: flex;
		flex-direction: row-reverse;
		width: 80%;
		margin: auto;
		
		p#achievements-intro{
			width: calc(40% - 6vw);
			padding: 0 3vw;
			color: white;
		}
		
		div#achievements-list::-webkit-scrollbar{
			width: 3px;
		}

		div#achievements-list::-webkit-scrollbar-track{
			background: white;
		}

		div#achievements-list::-webkit-scrollbar-thumb {
			background: var(--acm-dark-blue);
		}
		div#achievements-list{
			width: 60%;
			height: 50vh;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			overflow-y: scroll;
			mask: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.843312324929972) 70%, rgba(0,0,0,0) 100%);
			padding: 0 1.5vw;

			
			div.achievement-item{
				display: flex;
				align-items: center;
				padding: 3vh 0;
				width: 100%;
				color: white;
				img.achievement-image{
					background: var(--img-filler-color);
					width: 5vw;
					height: 5vw;
				}
				
				div.achievement-text{
					padding-left: 3%;

				}
			}
		}
	}
}