div#history-section{
	background: var(--history-section-background);
	color: var(--history-section-color);
	padding: 5vh 0;
}

div#history-section div.wrapper{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div#history-section div#history-intro{
	width: calc(40% - 6vw);
	padding: 0 3vw;
}

div#history-section div#timeline-container{
	width: 60%;
	height: 75vh;
	overflow-y: scroll;
	mask-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 25%, rgba(71,71,71,1) 75%, rgba(255,255,255,0) 100%);
}

div#history-section div#timeline-container::-webkit-scrollbar{
	width: 5px;
}

div#history-section div#timeline-container::-webkit-scrollbar-track{
	/*background: gray;*/
}

div#history-section div#timeline-container::-webkit-scrollbar-thumb {
	background: var(--history-section-color);
	border-radius: 2.5px;
}

div#history-section div#timeline-container div.history-timestamp{
	display: flex;
	align-items: center;
	font-size: 1.5em;
	padding: 4vh 0;
	padding-left: 2vw;
	border-left: 3px solid var(--history-section-color);
}

div#history-section div#timeline-container div.history-timestamp:first-of-type{
	padding-top: 37.5vh;
}
div#history-section div#timeline-container div.history-timestamp:last-of-type{
	padding-bottom: 37.5vh;
}

div#history-section div#timeline-container div.history-timestamp div.timestamp-dot{
	width: 3vh;
	height: 3vh;
	background: var(--history-section-color);
	margin-left: calc(-2vw - 1.5vh - 1.5px);
	margin-right: 2vw;
	transform: rotate(45deg);
}

div#history-section div#timeline-container div.history-timestamp span.date{
	padding-right: 1.5vw;
}

div#history-section div#timeline-container div.history-timestamp span.event{
	width: 75%;
	padding-left: 1.5vw;
	border-left: 1px solid var(--history-section-color);
}

@media (min-width: 1920px){
	div#history-section div#history-intro{
		width: calc(40% - 2vw);
		padding: 0 1vw;
	}
	div#history-section div#timeline-container{
		height: calc(1920px*0.5);
	}
	div#history-section div#timeline-container div.history-timestamp:first-of-type{
		padding-top: calc(960px*0.5);
	}
	div#history-section div#timeline-container div.history-timestamp:last-of-type{
		padding-bottom: calc(960px*0.5);
	}
}

@media (max-width: 768px){
	div#history-section div.wrapper{
		flex-direction: column;
	}
	div#history-section div#history-intro{
		width: 100%;
	}
	div#history-section div#timeline-container{
		width: 100%;
		height: 50vh
	}
	div#history-section div#timeline-container div.history-timestamp:first-of-type{
		padding-top: 25vh
	}
	div#history-section div#timeline-container div.history-timestamp:last-of-type{
		padding-bottom: 25vh
	}
	div#history-section div#timeline-container div.history-timestamp{
		font-size: 1em;
	}
}








