div#mission-vision-section{
	max-height: 1280px;
	padding: 2% 0;
	background: var(--acm-blue);
}

div#mission-vision-section div.mission-vision-part{
	display: flex;
	flex-direction: row;
	height: 50%;
}


div#mission-vision-section div.mission-vision-part div.text{
	width: 44%;
	padding: 3% ;
}

div#mission-vision-section div.mission-vision-part img.showcase-image{
	width: 50%;
	background: var(--img-filler-color);
}

div#mission-vision-section div.mission-vision-part#mission{
	color: white
}

div#mission-vision-section div.mission-vision-part#mission div.text{
	text-align: right;
}

div#mission-vision-section div.mission-vision-part#mission img.showcase-image{
	border-bottom-left-radius: 25vh;
	border-top-left-radius: 25vh;
}

div#mission-vision-section div.mission-vision-part#vision img.showcase-image{
	border-top-right-radius: 25vh;
	border-bottom-right-radius: 25vh;
}

div#mission-vision-section div.mission-vision-part#vision{
	flex-direction: row-reverse;
	color: white;
}

@media (max-width: 768px) {
	div#mission-vision-section{
		padding: 0;
	}
	div#mission-vision-section div.mission-vision-part{
		flex-direction: column-reverse;
		height: auto;
	}
	div#mission-vision-section div.mission-vision-part div.text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 50vh;
		width: 90vw;
		padding: 0 5vw;
		position: relative;
		top: -50vh;
		margin-bottom: -50vh;
	}
	div#mission-vision-section div.mission-vision-part img.showcase-image{
		width: 100vw;
		height: 50vh;
	}
	div#mission-vision-section div.mission-vision-part#mission div.text{
		background: linear-gradient(270deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 100%);
	}
	div#mission-vision-section div.mission-vision-part#mission img.showcase-image{
		border-radius: 0 0 0 0;
		box-shadow: 0 0 0 black;
	}
	div#mission-vision-section div.mission-vision-part#vision img.showcase-image{
		border-radius: 0 0 0 0;
		box-shadow: 0 0 0 black;
	}
	div#mission-vision-section div.mission-vision-part#vision{
		flex-direction: column-reverse;
	}
	div#mission-vision-section div.mission-vision-part#vision div.text{
		background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 100%);
	}

}