div.comm-section{
	width: 100%;
	padding: 2vw 0;
}

div.comm-section div.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}

div.comm-section div.comm-content{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

div.comm-section div.comm-content div.comm-head{
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.comm-section div.comm-content div.comm-head img.comm-head-img{
	margin-bottom: 3vh;
	background: yellow;
	height: 35vh;
	width: 15vw;
}

div.comm-section div.comm-content div.comm-head div.comm-head-social-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

div.comm-section div.comm-content div.comm-info{
	width: 61vw;
	padding: 2vw;
}

div.comm-section div.comm-content div.comm-info h1.comm-name{
	font-size: 3em;
}

div.comm-section div.comm-content div.comm-info p.comm-desc{
	font-size: 1.25em;
}

div.comm-section:nth-child(even){
	background: rgb(50,50,50);
	color: white;
}

div.comm-section:nth-child(even) div.comm-content div.comm-info{
	order: 1;
}

div.comm-section:nth-child(even) div.comm-content div.comm-info{
	text-align: right;
}

div.comm-section:nth-child(even) div.comm-content div.comm-head{
	order: 2
}