@import "../../styles/global.scss";
@import "../../styles/animation.scss";

.social-widget {
	display: flex;
	
	width: 500px;
	height: 500px;

	align-content: center;
	justify-content: center;
	
	border-radius: 100%;
}

.social-widget img {
	width: 50%;
	height: 50%;

	margin: auto;
	display: block;
	object-fit: scale-down;
	
	@include transition-all;
	@include filter(brightness(0) invert(1));
}

.social-widget:hover {
	img {
		@include filter(none);
	}
}
