@import "../styles/var.scss";
@import "../styles/global.scss";

$default-background-color: white;
$default-info-color: black;
$default-header-color: black;

.opening {
	// Theme
	background-color: $default-background-color;

    overflow: hidden;
    height: 100%;

    text-align: center;
    
	$vertical-spacing: 7%;
    padding-top: $vertical-spacing;
    padding-bottom: $vertical-spacing; 

	#header {
		color: $default-header-color;
	}

    #header-info { 
		color: $default-info-color;

        // Ensure readability on all screen size
        width: max(280px, 50vw);
        scale: 0.9;

        
        opacity: 0.75;

        // Center text
        margin: 0 auto;
        padding: 10px;
    }
}