@import "../styles/var.scss";
@import "../styles/global.scss";

$default-background-color: white;
$default-info-color: black;
$default-header-color: black;

.opening {
	background-color: $default-background-color;
    width: 100%;
    margin: auto;
    text-align: center;
    
    padding: 7% 0;

    > *{
        max-width: 80%;
        margin: auto;
    }

	#header {
		color: $default-header-color;
	}

    #header-info { 
		color: $default-info-color;
        opacity: 0.75;
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
}

.opening:nth-child(even){
	background-color: unset;
}