.super-opening{
    .super-opening-op{
        position: relative;
        width: 100%;
        margin: auto;
        display: flex;
        padding: 7% 0;
        overflow: hidden;
        .op-bg-title{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 30vh;
            opacity: .125;
        }

        .text-container{
            position: relative;
            z-index: 3;
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            > *{
                margin: 1% 0;
            }
        }
    }
}