@import "../../styles/var.scss";
@import "../../styles/global.scss";

#gallery-showcase {
    background-color: white;
	max-width: 100vw;
	overflow: hidden;

    #info {
        color: black;
        padding-bottom: 40px;

        padding-top: 6%;
        padding-bottom: 5%;

        #header {
            // Layout
            padding: 20px;
            text-align: center;           
        }

        #header-info {
            // Layout
            padding: 10px;
            padding-top: 0px;
            text-align: center;

            display: block;
            margin: 0 auto;

            width: 42vw;
            min-width: 270px;     
        }
    }
    
    #cards {
        padding: 50px;

        // Flexibility for mobile
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

		align-items: center;
    }

}