@import "../../../styles/animation.scss";


// Default styling
.gallery-card {
	flex: 1 1 45%;
	min-width: 280px;
	max-width: 50%;
	height: fit-content;
	
	margin: 2%;
	object-fit: scale-down;

	img {

		width: 100%;
		height: auto;
		max-height: 360px;

		object-fit: cover;
		border-radius: 10px;
	}

	.caption {
		width: fit-content;

		display: block;
		margin: auto;
		padding: 1.5%;

		opacity: 0.8;
		text-align: center;

		@include transform-safe(scale(0.7));
	}

}
