@import "../../../styles/var.scss";
@import "../../../styles/global.scss";


// Default styling
.gallery-card {

	margin: 2%;

	object-fit: scale-down;

	flex: 1 1 40%;
	min-width: 280px;
	max-width: 60%;
	height: fit-content;
	
	img {

		width: 100%;
		height: auto;

	}

	.caption {
		display: block;
		margin: auto;

		text-align: center;
		scale: 0.7;
		opacity: 0.8;

		width: fit-content;

		padding: 1.5%;

	}

}
