
// For a picture window
.sig-card:nth-child(odd) {
    flex-direction: row-reverse;
}

.sig-card {
    // Allow two cards in one column at maximum
    display: inline-flex;
    min-width: 400px;
    max-width: 47%;
    height: 220px;

    // Spacing
    margin: 10px;

    .background{
        width: 40%;
    }

    .info {
        width: 60%;
        padding: 20px;
        background: white;

        .name {
            font-size: calc(1em + 0.4vw);
            font-weight: bolder;
        }

        .head {
            font-size: calc(0.8em + 0.3vw);
            font-weight: bold;
        }

        .description {
            font-size: calc(0.6em + 0.2vw);
            font-weight: lighter;

            // Spacing from local header
            margin-top: 20px;
        }

    }
}