@import "../../../styles/var.scss";
@import "../../../styles/global.scss";
@import "../../../styles/animation.scss";

.sig-card:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
	background-color: var(--acm-blue);
}

.sig-card:nth-child(2) {
	grid-row: 1;
	grid-column: 2;
    background-color: var(--acm-purple);
}


.sig-card:nth-child(3) {
	grid-row: 2;
	grid-column: 1;
	background-color: var(--acm-purple);
}


.sig-card:nth-child(4) {
	grid-row: 2;
	grid-column: 2;
    background-color: var(--acm-blue);
}


.sig-card {
    // Theme
    color: white;

	// Background setup
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;

	position: relative;

    $background-transition: 0.4s;
	@include transition-all($background-transition);

	text-align: left;

	overflow: hidden;

    .info {
        // Spacing
        padding: 5%;
		width: 90%;
		height: 90%;
        display: block;
		background: rgba(0,0,0,0);
        $info-transition: 0.7s;
		@include transition-all($info-transition);

        .name {
            font-weight: bolder;
            font-size: calc(1.4em + 0.4vw);

			@include transition-all(0.6);
        }

        .head {
            font-size: calc(1em + 0.2vw);
            font-weight: bold;

            width: fit-content;
            margin-top: 10px;
        }

        .description {
            font-size: calc(0.9em + 0.2vw);

            // Spacing from local header
            margin-top: 20px;
        }

    }

	@mixin rippleSetup($speed) {
		animation: ripple ease $speed infinite;
		-webkit-animation: ripple ease $speed infinite;
		-moz-animation: ripple ease $speed infinite;
		-o-animation: ripple ease $speed infinite;
		-ms-animation: ripple ease $speed infinite;
	
		@keyframes ripple {
			0%  {transform: scale(2);}
			12.5%  {transform: scale(4);}
			25%  {transform: scale(2);}
			100%   {transform: scale(0);}
		  }	
	}


	.ripple {
		// Small Circle
		$dimension: 10px;
		width: $dimension;
		height: $dimension;
		border-radius: 100%;

		// Center
		position: absolute;
		left: 50%;
		bottom: 15%;
	
		// Ensure no overtaking
		z-index: -1;
		overflow: hidden;
		position: absolute;

		// Remove space taken 
		margin-bottom: -$dimension;

		opacity: 1;
		scale: 2;
		background-color: rgba(160, 160, 160, 0.438);
		@include transition-all(0.35s);
		@include rippleSetup(1.7s);
	}

	.ripple:nth-child(1){
		@include animation-delay(0.0s);
	}
	.ripple:nth-child(2){
		@include animation-delay(0.2s);
	}
	.ripple:nth-child(3){
		@include animation-delay(0.4s);
	}
}

// Will reveal on hover
.head, .description {
    opacity: 0;
    transition: 0.8s ease;
}

.sig-card:hover{
    // Reveal
	.info{
		background: rgba(0,0,0,0.5);
		.head, .description {
			opacity: 1;
		}
	}
	.ripple{
		opacity: 0;
	}

	//background-blend-mode: color-burn;
}

@media (max-width: 1000px){
	.sig-card{
		width: 100%;
	}
}