@import "../../../styles/var.scss";
@import "../../../styles/global.scss";

.sig-card:nth-child(1) {
	background-color: var(--acm-blue);
}

.sig-card:nth-child(2) {
    background-color: var(--acm-purple);
}


.sig-card:nth-child(3) {
	background-color: var(--acm-purple);
}


.sig-card:nth-child(4) {
    background-color: var(--acm-blue);
}


.sig-card {
    // Theme
    color: white;

    // Sizing
    flex: 1 1 41vw;
    
    // Spacing
    margin: 10px;

    // Background setup
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;

    $background-transition: 0.4s;
    transition: ease $background-transition;

    padding: 20px;

	text-align: left;

	display: relative;

    .info {
        // Spacing
        padding: 5%;

        display: block;

        $info-transition: 0.7s;
        transition: $info-transition ease;

        .name {
            font-weight: bolder;
            font-size: calc(1.4em + 0.4vw);

            transition: 0.6s ease;
        }

        .head {
            font-size: calc(1em + 0.2vw);
            font-weight: bold;

            width: fit-content;
            margin-top: 10px;
        }

        .description {
            font-size: calc(0.9em + 0.2vw);

            // Spacing from local header
            margin-top: 20px;
        }

    }

	@mixin rippleSetup($speed) {
		animation: ripple ease $speed infinite;
		-webkit-animation: ripple ease $speed infinite;
		-moz-animation: ripple ease $speed infinite;
		-o-animation: ripple ease $speed infinite;
		-ms-animation: ripple ease $speed infinite;
	
		@keyframes ripple {
			0%   {scale: 0;}
			33%  {scale: 9;}
			66%  {scale: 4;}
		  }	
	}


	.ripple {
		// Small Circle
		$dimension: 10px;
		width: $dimension;
		height: $dimension;
		border-radius: 100%;

		// Center
		left: 50%;
		bottom: 15%;
	
		// Ensure no overtaking
		z-index: -1;
		overflow: hidden;
		position: absolute;

		// Remove space taken 
		margin-bottom: -$dimension;

		opacity: 1;
		scale: 2;
		background-color: rgba(160, 160, 160, 0.438);
		transition: ease 0.35s;
		@include rippleSetup(1.7s);
	}

	.ripple:nth-child(1){
		animation-delay: 0.00s;
	}
	.ripple:nth-child(2){
		animation-delay: 0.2s;
	}
	.ripple:nth-child(3){
		animation-delay: 0.4s;
	}
}

// Will reveal on hover
.head, .description {
    opacity: 0;
    transition: 0.8s ease;
}

.sig-card:hover{
    // Reveal
    .head, .description {
        opacity: 1;
    }
	.ripple{
		opacity: 0;
	}

	background-blend-mode: color-burn;
}
