@import "../../styles/animation.scss";

#events{
	background-color: #252525;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-bottom: 7%;
	
	.opening {
		background: inherit;
		color: white;
		padding-bottom: 1%;
	}
	
	.events-page-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30%;
		height: 50px;
		margin-bottom: 7%;
		border-radius: 25px;
		background-color: white;
		color: rgb(46, 46, 46);
		font-weight: bolder;
		box-shadow: 2px 2px 10px rgb(46, 46, 46);
		transition: 0.1s ease transform;
	}	

	.events-page-link:hover {
		cursor: pointer;
		transform: scale(1.1);
	}

	#showcase{
		width: 30vw;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		transform: rotate(45deg);
		margin-bottom: 7%;
		.diamond {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 13vw;
			height: 13vw;
			margin: 1vw;
			overflow: hidden;
			//clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

			background-color: #0181ac65;

			.diamond-content{

				width: 100%;
				height: 100%;

				.diamond-img{
					width: 150%;
					height: 150%;
					margin-left: -25%;
					margin-top: -25%;
					transform: rotate(-45deg);
					//mix-blend-mode: lighten;
					object-fit: cover;
					object-position: center center;
					mix-blend-mode: lighten;

				}
			}
		}

		.diamond:hover{
			background: rgb(50,100,225);
			cursor: pointer;
		}

		.diamond:nth-child(3), .diamond:nth-child(4){
			.diamond-text{
				text-align: left;
			}
		}

	}
}

@media only screen and (max-width: 1000px) {
	
	#events {
		height: fit-content;		
		display: block;		
		margin: auto;
		text-align: center;
		overflow-x: visible;	
		padding: 5% 0;
		min-width: 280px;

		#info {
			max-width: 100vw;
			min-width: 270px;
			padding: 5%;

			p {
				width: 90%;
				min-width: 260px;
				padding-bottom: 3%;
				margin: auto;
			}

			button{
				margin: 0;
			}
		}

		#showcase {
			width: 100%;
			height: fit-content;
			margin: 0;
			rotate: 0deg;
			padding-bottom: 5%;
			@for $i from 1 through 4 {
				.diamond:nth-child(#{$i} ){
					width: 100%;
					height: 175px;
					min-width: auto;
					min-height: auto;
					align-self: auto;
					margin: 25px;
					margin-bottom: 0;
				}
			  }

			  .diamond {
	
				border-radius: 20px;


				img {
					width: 100%;
					height: 100%;
					margin: 0%;
					border-radius: 0%;
					rotate: 0deg;
					object-fit: cover;
				}
					
			}

		}

		
	}




}