@import "../../styles/animation.scss";

#events{
	background-color: #252525;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-bottom: 6%;
	
	.opening {
		background: none;
		color: white;
		
		.events-page-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80%;
			margin: auto;
			margin-top: 3%;
			height: 50px;
			border-radius: 25px;
			background-color: white;
			color: rgb(46, 46, 46);
			font-weight: bolder;
			box-shadow: 2px 2px 10px rgb(46, 46, 46);
			transition: 0.1s ease transform;
		}

		.events-page-link:hover {
			cursor: pointer;
			transform: scale(1.1);
		}

	}
	
	#showcase{
		width: 30vw;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		transform: rotate(45deg);
		margin-bottom: 7%;
		.diamond {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 13vw;
			height: 13vw;
			margin: 0.7vw;
			overflow: hidden;
			//clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

			box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

			.diamond-content{

				width: 100%;
				height: 100%;

				.diamond-img{
					width: 150%;
					height: 150%;
					margin-left: -25%;
					margin-top: -25%;
					transform: rotate(-45deg);
					//mix-blend-mode: lighten;
					object-fit: cover;
					object-position: center center;
					mix-blend-mode: lighten;
					transition: ease 0.3s scale;
				}
			}
		}

		.diamond:hover{
			background: rgba(11, 146, 236, 0.52);
			cursor: pointer;
		
			.diamond-img{
				scale: 1.1;
			}
		}

		.diamond:nth-child(3), .diamond:nth-child(4){
			.diamond-text{
				text-align: left;
			}
		}

	}
}

@media only screen and (max-width: 1000px) {
	
	#events {
		height: fit-content;		
		margin: auto;
		text-align: center;
		overflow-x: visible;	
		padding: 5% 0;
		min-width: 280px;

		#showcase {
			width: 75vw;
			margin: 0;
			rotate: 0deg;
			padding-bottom: 5%;
			transform: rotate(0deg);

			.diamond {
				width: 35vw;
				height: 35vw;
				margin: 1vw;
				border-radius: 20px;

				.diamond-content{
					.diamond-img {
						width: 100%;
						height: 100%;
						margin: 0;
						transform: rotate(0deg);
						object-fit: cover;
					}
				}
					
			}

		}

		
	}




}