@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "../../styles/global.scss";
@import "../../styles/var.scss";

div.landing{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

div#landing-video{
	z-index: -3;
}


div#landing-video video{
	width: 100vw;
	max-height: 100vh;
	object-fit: cover;
	max-width: 100vw;
}

div#landing-overlay{
	display: flex;
	align-items: center;
	z-index: -2;
	color: white;
	background: var(--landing-overlay-bg);
}
div#landing-overlay div.wrapper{
	display: flex;
	justify-content: flex-end;
}

div#landing-overlay div#landing-text{
	width: 60%;
	min-width: 600px;
	padding: 0 5%;
	margin-top: var(--header-height);
}

div#landing-overlay div#landing-text > *{
	text-align: right;
}
div#landing-spacer{
	margin-bottom: 100vh;
}

@media (max-width: 1280px) {
	div#landing-video{
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	
	div#landing-overlay div#landing-text{
		min-width: 90%;
		font-size: calc(0.4em + 1.2vw);

	}
	div#landing-overlay div#landing-text p#intro-sub-text{
		font-size: 1.45em;
	}
}