@import "../../styles/var.scss";
@import "../../styles/global.scss";

#opening {
    color: black;
    background-color: white;

    // Ensures there's no overflow
    overflow: hidden;
    height: 100%;

    // Layout
    text-align: center;
    $vertical-spacing: 8.5%;
    padding-top: $vertical-spacing;
    padding-bottom: $vertical-spacing; 

    #header-info { 
        // Ensure readability on all screen size
        width: max(280px, 50vw);
        scale: 0.9;
        
        opacity: 0.75;

        // Center text
        margin: 0 auto;
        padding: 10px;
    }
}