@import "../../styles/animation.scss";

#social-embed {
	background-color: white;

	display: flex;
	align-content: center;
	justify-content: center;

	#twitter {
		width: 50vw;
		min-width: 300px;

		border: none;
		overflow: hidden;

		padding-top: 5%;
	}
}
