@import "../../styles/var.scss";
@import "../../styles/global.scss";
@import "../../styles/animation.scss";

#committee-executive {
    $theme: var(--acm-blue);
    background-color: white;

    #info {
        color: $theme;

        // Ensures there's no overflow
        overflow: hidden;
        height: 100%;
        
        // Layout
        text-align: center;
        $vertical-spacing: 5%;
        padding-top: $vertical-spacing;
    
        #header {    
            // Scale header on hover for 
            $transition-speed: 1s;
            @include transition($transition-speed, scale);
        }
        #header:hover {
            scale: 1.05;
        }
    
        #header-info { 
            min-width: 280px;
            width: 45vw;
    
            // Layout
            margin: 0 auto;
            padding: 10px;
        }

        #divider {
            // Layout
            width: 30%;
            height: 1px;
            display: block;
            margin: 2% auto;

            background-color: $theme;
        }
    }
    
    #cards {
        padding: 30px;

        // Flexibility for mobile
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}