@import "../../styles/var.css";
@import "../../styles/var.scss";
@import "../../styles/global.css";
@import "../../styles/animation.scss";


#committee-faculty {
    $theme: $acm-dark-blue;

    box-shadow: 3px 3px 20px rgb(84, 159, 194);

    #info {
        color: $theme;

        // Ensures there's no overflow
        overflow: hidden;
        height: 100%;
    
        // Layout
        text-align: center;
        $vertical-spacing: 5%;
        padding-top: $vertical-spacing;

        #header {
            // Ensure readability on all screen size
            font-size: calc(1.2em + 1.6vw);
    
            // Scale header on hover for response
            $transition-speed: 1s;
            @include transition($transition-speed, scale);
        }
        #header:hover {
            scale: 1.05;
        }
    
        #header-info { 
            // Ensure readability on all screen size
            font-size: calc(1em + 0.2vw);
            min-width: 280px;
            width: 45vw;
    
            // Center text
            margin: 0 auto;
            padding: 10px;

            opacity: 0.75;
        }

        #divider {
            background-color: $theme;
            
            // Layout
            width: 30%;
            height: 1px;
            display: block;
            margin: 2% auto;
        }
    }
    
    #cards {
        // Flexibility for mobile
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        padding: 30px;
    }

}